{% extends 'base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block content %}
    <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12 m-auto">
        <form method="post" action="{% url 'login' %}" class="w-100">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id }}" class="col-form-label">{{ form.username.label_tag }}</label>
                <div>
                  {{ form.username }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id }}" class="col-form-label">{{ form.password.label_tag }}</label>
                <div>
                  {{ form.password }}
                </div>
            </div>
            {% if form.errors %}
                <p class="grey">Your username and password didn't match. Please try again.</p>
            {% endif %}
            <button type="submit" class="btn btn-primary m-auto">Login</button>
        </form>
    </div>
{% endblock %}